.user {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
}
.right {
  margin-left: 130px;
}
.world {
  width: 100%;
}
.world .adm-space-item {
  width: 22%;
}
.world .adm-space-item .bookinfo {
  width: 100%;
}
.world .adm-space-item .bookinfo img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.world .adm-space-item .bookinfo p {
  text-align: center;
}
span {
  float: right;
  margin-top: 12px;
  margin-right: 8px;
  font-weight: bold;
}
.title {
  margin-bottom: 30px;
}
.world {
  display: flex;
}
.info .clicle {
  padding-top: 20px;
  width: 85px;
  height: 100px;
}
.info .clicle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.info .login {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  left: 100px;
  top: -50px;
}
